@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* fonts */
  --font-montserrat: var(--font-montserrat);
  --font-satoshi: var(--font-satoshi);
  --font-oswald: var(--font-oswald);

  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi);
}
